*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1F2020;
}

header{
    height: 150px;
    margin-bottom: 1.2rem;
    background-color: #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem , 14vw , 6rem);
}

main h2{
    text-align: center;
    font-size: clamp(1rem , 7vw , 6rem);
    margin-bottom: 0.7rem;
    color: rgb(150, 150, 150);
}

.all-maps {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 2rem;
    justify-content: center;
}

.map-selection {
    background-color: #1a1a1a;
    box-shadow: 0 0 10px #4169e180;
    padding: 1.2rem 0.3rem 0.3rem 0.3rem;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    justify-content: center;
    align-items: center;
    color: rgb(150, 150, 150);
    border-radius: 5px;
    cursor: pointer;
}

.map-selection h1{
    margin-bottom: 0.7rem;
}

.map-selection img{
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 495px){
    .map-selection{
        flex-grow: 1;
    }

    .map-selection h1{
        font-size: clamp(1rem , 7vw , 10vw);
    }
} 

.window-smoke-from-t-spawn {
    position: relative;
    width: 90%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
}

.window-smoke-from-t-spawn > div {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    border: 2px solid white;
    background-color: #808080;
    transition: transform 0.6s ease-in-out;
}

.image-container {
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.tutorial-container {
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    transition: opacity 0.3s ease-in-out;
}

/* Kép animációja külön */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.2s;
}

/* Aktív állapot: helycsere */
.window-smoke-from-t-spawn.active .image-container {
    transform: translateX(100%);
    z-index: 2;
}

.window-smoke-from-t-spawn.active .tutorial-container {
    transform: translateX(-100%);
    z-index: 1;
}

.image-container:hover img{
    transform: scale(2.5);
}

.hidden{
    display: none;
}

.show{
    display: flex;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.btn-container button{
    background-color: #4169e180;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}